@import url("https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Inconsolata:wght@400&family=Maven+Pro:wght@400&display=swap");

.info {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  justify-content: flex-start; /* Alinha ao topo */
  padding-top: 40px; /* Ajuste esse valor para controlar a distância do topo */
  min-height: 100vh; /* Garante que o fundo ocupe a tela toda */

  width: 680px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-profile img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;

  border: 3px solid var(--color-red);
  padding: 4px;
  background-color: #111;
}

.info-subtitle {
  font-family: var(--font-subtitle);
  font-size: 20px;
  line-height: 120%;
  color: var(--base-gray);
}

.intro {
  background-image: url("../imagens/background/Background_Intro.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 750px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.scroll-indicator {
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;

  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-indicator svg {
  width: 100%;
  height: 100%;
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 8px);
  }
}

.scroll-indicator {
  animation: bounce 1.5s infinite ease-in-out;
}

.info-profile {
  margin-bottom: 56px;
  position: relative;
  display: inline-block;
}

.profile-badge {
  position: absolute;

  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  right: 0px;
  bottom: 0px;

  background: transparent; /* sem fundo */
}
.profile-badge svg {
  width: 31px;
  height: 32px;
  display: block;
}

.info-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.info-name {
  color: var(--color-red);
  font-weight: 400;
}

.info-title {
  font-family: var(--font-title);
  font-size: 60px;
  line-height: 115%;
  font-weight: 700;
  color: #e2e4e9;
}

.info-description {
  font-family: var(--font-text); /* Maven Pro */
  font-size: 14px; /* Text sm */
  line-height: 140%;
  font-weight: 400;
  color: var(--color-text-sm);
}

.info-tags {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;

  gap: 16px 28px;
  width: 100vw; /* Ocupa a largura da tela se necessário */
  max-width: 800px;
  cursor: pointer;
}

.tag {
  padding: 9px 12px;
  min-height: 40px;

  display: flex;
  align-items: center;
  gap: 8px;

  border-radius: 999px;
  background-color: #292c34;
}
.tag span {
  color: #c0c4ce;

  font-family: var(--font-text);
  font-size: 16px;
}

.projects {
  background-color: #16181d;
  padding: 80px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-header {
  text-align: center;
}

.projects-subtitle {
  font-family: var(--font-subtitle);
  font-size: 20px;
  line-height: 120%;
  color: var(--color-red);

  display: block;
  margin-bottom: 12px;
}

.projects-title {
  font-family: var(--font-title);
  font-size: 24px;
  font-weight: 600;
  color: #e2e4e9;
  margin-top: 8px;
}

.projects-grid {
  width: 100%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-top: 56px;
}

.project-image {
  background: #0f1116;
  border-radius: 14px;
  padding: 12px;
  margin-bottom: 16px;
}
.project-image img {
  width: 100%;
  max-height: 190px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.project-card {
  background: #1f232d;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-6px);
  background-color: #1c2029;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
}

.project-title {
  color: #e2e4e9;
  font-size: 16px;
  margin-bottom: 8px;
  font-family: var(--font-title);
}

.project-description {
  color: #c0c4ce;
  font-size: 14px;
  line-height: 1.5;
  font-family: var(--font-text);
}

.services {
  background-color: #0d0e11;
  padding: 120px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-grid {
  margin-top: 64px;
  width: 100%;
  max-width: 900px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.service-card {
  background-color: #0d0e11;
  border: 2px solid #16181d;

  border-radius: 12px;
  padding: 20px;

  min-height: 155px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.service-card img {
  width: 32px;
  height: 32px;
  margin-bottom: 12px;
}

.service-card h3 {
  color: #e2e4e9;
  font-size: 16px;
  font-family: var(--font-title);
}

.service-card p {
  color: #c0c4ce;
  font-size: 14px;
  font-family: var(--font-text);
}

.service-card h3,
.service-card p {
  max-width: 240px;
}

.service-card h3 {
  line-height: 20px;
}

.service-card p {
  line-height: 20px;
}

/* ================= CONTATO ================= */

.contact {
  min-height: 100vh;
  background: url("../imagens/background/Background_Contacts.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  padding-top: 120px; /* empurra tudo para baixo */

  margin: 0 auto 28px;
}

.contact-content {
  width: 100%;
  max-width: 1100px;
  padding: 0 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 48px;
}

.contact-header {
  width: 420px; /* largura igual ao Figma */
  margin: 0 auto 48px; /* centraliza e dá espaço até os botões */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: px;
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 16px;

  max-width: 420px;
  width: 100%;

  margin-top: -30px;
}

.contact-subtitle {
  color: #bb72e9;
  font-size: 20px;
  margin-bottom: 8px;
  line-height: 24px;
  display: block;
  font-family: var(--font-subtitle);
}

.contact-title {
  color: #e2e4e9;
  font-size: 24px;
  margin-bottom: 8px;
  line-height: 40px;
  font-family: var(--font-title);
}

.contact-text {
  color: #c0c4ce;
  font-size: 16px;
  line-height: 24px;
  max-width: 420px;
  margin: 0 auto;
  font-family: var(--font-text);
}

.contact-card {
  background: #242730;
  border-radius: 12px;
  padding: 18px 22px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  text-decoration: none;
  color: #e2e4e9;
  transition: 0.2s ease;
}

.contact-card:hover {
  background: #2b2f3a;
  transform: translateY(-2px);
}

.contact-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-left img {
  width: 27px;
}

.contact-arrow {
  width: 18px;
}
