@import url("https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Inconsolata:wght@400&family=Maven+Pro:wght@400&display=swap");

.info {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  justify-content: flex-start; /* Alinha ao topo */
  padding-top: 40px; /* Ajuste esse valor para controlar a distância do topo */
  min-height: 100vh; /* Garante que o fundo ocupe a tela toda */
}

.info-profile img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;

  border: 3px solid var(--color-red);
  padding: 4px;
  background-color: #111;
}

.info-subtitle {
  font-family: var(--font-subtitle);
  font-size: 20px;
  line-height: 120%;
  color: var(--base-gray);
}

.intro {
  background-image: url("../imagens/background/Background_Intro.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 750px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  width: 680px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-profile {
  margin-bottom: 56px;
  position: relative;
  display: inline-block;
}

.profile-badge {
  position: absolute;

  width: 32px;
  height: 32px;
  background-color: #16181d;

  display: flex;
  align-items: center;
  justify-content: center;

  right: -6px;
  bottom: -6px;
  border-radius: 0;
  overflow: hidden;
}
.profile-badge svg {
  width: 31px;
  height: 25px;
  display: block;
}

.info-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.info-name {
  color: var(--color-red);
  font-weight: 400;
}

.info-title {
  font-family: var(--font-title);
  font-size: 56px;
  line-height: 120%;
  font-weight: 700;
  color: #e2e4e9;
}

.info-description {
  font-family: var(--font-text); /* Maven Pro */
  font-size: 14px; /* Text sm */
  line-height: 140%;
  font-weight: 400;
  color: var(--color-text-sm);
}

.info-tags {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;

  gap: 16px 28px;
  width: 100vw; /* Ocupa a largura da tela se necessário */
  max-width: 800px;
}

.tag {
  padding: 9px 12px;
  min-height: 40px;

  display: flex;
  align-items: center;
  gap: 8px;

  border-radius: 999px;
  background-color: #292c34;
}
.tag span {
  color: #c0c4ce;
}
